.health {
    position: relative;
    overflow: auto;
    padding: 0 2em;
    margin-bottom: 2em;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    
    .note {
        font-size: 14px;
        font-style: italic;
        color: gray;
    }
}