//----- Hero Section Start -----//
.hero-section {
  position: relative;
  display: flex;
  flex-direction: row;
  // margin-bottom: 2em;
  overflow: auto;
  padding: 0 2em;

  .col {
    width: 50%;
  }

  .left {
    padding: 4em;
  }
  .right {
    img {
      width: 80%;
      margin: auto;
      display: block;
    }
  }

  .sub-header {
    font-size: 2em;
    color: #e36138;
  }

  .header {
    font-size: 3.5em;
    padding: 0.5em 0;
    line-height: 1.5em;

    span {
      font-size: 0.65em;
      color: #66b9a2;
    }
  }

  @media (max-width: 900px) {
    & {
      flex-direction: column-reverse;

      .col {
        width: 100%;
      }

      .header {
        font-size: 1.8em;
      }

      .sub-header {
        font-size: 1.8em;
      }

      .left {
        padding: 1em;
      }

      img {
        height: auto;
        width: 100%;
        margin: auto;
        display: block;
      }
    }
  }
}

//----- Hero Section End -----//

//----- Feature Section -----//
.feature-section {
  box-shadow: 0 0 15px #ffd662;
  margin-top: 2rem;
  background-color: #fffbed;
  padding-top: 50px;
  border-top-left-radius: 35% ;
  border-top-right-radius: 35% ;
  
  .features {
    position: relative;
    display: flex;
    flex-direction: row;
    overflow: auto;
    padding: 0 2em;
    justify-content: center;
    align-items: center;
    gap: 5rem;
  
    .text-content {
      width: 26em;
      height: 26em;
      margin-bottom: 5em;
      padding: 1rem;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
  
      * {
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;
      }
  
      h2,
      .fa-solid {
        font-size: 23px;
        color: #e36138;
      }
  
      .special-text {
        color: #ef5097;
        font-weight: 600;
      }
    }

    @media (max-width: 900px) {
      flex-direction: column;
      gap: 0;
  
      .text-content {
        width: auto;
        height: auto;
        padding: 2rem 1rem;
      }
    }
  }

  @media (max-width: 900px) {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  
  
}
//----- Feature Section -----//
