.food {
  position: relative;
  margin-bottom: 2em;
  overflow: auto;
  padding: 0 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .description {
    padding: .2em;
    line-height: 2;

    .special-text {
      color: #ef5097;
      font-weight: 600;
    }
  }

  @media (max-width: 830px) {
    .description {
      font-size: small;
    }
  }
}
