.food {
    position: relative;
    margin-bottom: 2em;
    overflow: auto;
    padding: 0 2em;

    h1 {
        padding-top: 0.5em;
        text-align: center;
    }

    .search {
        margin: auto;
        padding: 1em;
    }
}