.contact {
  position: relative;
  margin-bottom: 2em;
  overflow: auto;
  padding: 0 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .container {
    width: 80%;
    display: flex;
    flex-direction: row;
    padding: 1.5em;
    align-items: center;
    justify-content: center;
    justify-content: space-around;

    p {
        color: #ff80bf;
        text-align: center;
        letter-spacing: 1px;
        font-size: 15px;
        padding: .5em;
    }
  }

  img {
    width: 380px;
    height: 380px;
  }

  form {
    max-width: 500px;
    margin: 0 auto;
  }
  
  .form-group {
    position: relative;
    padding: 1em;
  }
  
  label {
    position: absolute;
    top: 0.6em;
    left: 2em;
    border-radius: 5px;
    padding: 0 5px;
    background-color: white;
    font-size: 18px;
    color: #6868ac;
  }
  
  input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    border: 1px solid #ef5097;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }
  
  input[type="submit"] {
    background-color: #ffb650;
    color: white;
    padding: 12px 20px;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    display: block;
    margin: 0 auto;
    line-height: 18px * 2;
    padding: 0 20px;
    background: #ffd662;
    letter-spacing: 2px;
    transition: .2s all ease-in-out;
    outline: none;
    border: 1px solid rgba(0,0,0,1);
    box-shadow: 3px 3px 1px 1px  #6868ac, 3px 3px 1px 2px rgba(0,0,0,1);
  }
  
  input[type="submit"]:hover {
    background-color: #e36138;
  }

  @media (max-width: 830px) {
    .container{
      flex-direction: column;
      padding: 0;
      p{
        font-size: small;
      }
    }

    img {
      height: auto;
      width: 100%;
    }

    h1 {
      width: 100%;
      text-align: center;
      font-weight: 700;
      font-size: 3em;
      text-shadow: -15px 5px 20px #ced0d3;
      transform: translate(-1%, -1%);
      letter-spacing: 0.02em;
      text-align: center;
      color: #f9f1cc;
      text-shadow: 2px 2px 0px #ffb650, 5px 5px 0px #ffd662, 8px 8px 0px #ff80bf,
        11px 11px 0px #ef5097, 14px 14px 0px #6868ac, 17px 17px 0px #90b1e0;
    }
  }
  
}
