//----- NAVIGATION BAR START -----//

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 2em 2em 0em 2em;

  .nav-logo {
    padding: 0;
    font-size: 30px;
  }

  .nav-links {
    display: flex;
    align-items: center;

    .nav-link {
      padding: 0 2em;
      text-transform: uppercase;

      a:hover {
        border-bottom: 3px solid #e36138;
      }

      &.btn {
        background: #e36138;
        color: #fff;
        padding: 1em 2em;
        border-radius: 10px;
        margin: 0 0 0 1em;
      }
    }
  }

  .button {
    border: none;
    background: none;
    font-size: 20px;
  }

  .hamburger {
    display: none;
  }

  @media (max-width: 830px) {
    .nav-links {
      display: none;
    }

    .nav-link {
      text-align: center;
      overflow: hidden;
      padding: 1em 2em;

      &.btn {
        background: #e36138;
        color: #fff;
        border-radius: 10px;
        margin: auto;
        width: 30%;
        padding: 1em 1.5em;
      }
    }

    .hamburger {
      display: block;
      position: absolute;
      right: 2.06rem;
      border: none;
      background: none;
      font-size: 30px;
      cursor: pointer;
    }

    .nav-links-mobile {
      position: absolute;
      box-shadow: rgba(50, 50, 93, 0.23) 0 30px 30px -20px;
      left: 0;
      top: 10%;
      transition: all 0.5s ease-in-out;
      width: 100%;
      background-color: white;
      z-index: 1;
      padding: 2rem;
    }
  }
}

//----- NAVIGATION BAR END -----//

//----- FOOTER START -----//
.footer {
  display: block;
  position: relative;
  text-align: center;
  margin-top: auto;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  padding: 2em;
  background-color: #e36138;

  * {
    padding-bottom: 1em;
    color: white;
  }

  h2 {
    font-size: 30px;
    line-height: 1.5;
  }

  a {
    margin: 0 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  i {
    margin: 0 10px 0 0;
    width: 40px;
    height: 40px;
    font-size: 20px;
    border: 1px solid white;
    padding: 8px;
    border-radius: 50%;
    transition: all 0.3s ease;

    &:hover {
      border: 1px solid #e36138;
      background-color: #fff;
      color: #e36138;
    }
  }
}
//----- FOOTER END -----//
