.about {
  position: relative;
  margin-bottom: 2em;
  overflow: auto;
  padding: 0 2em;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;

  .special-text {
    color: #ef5097;
    font-weight: 600;
  }

  .container {
    display: flex;
    flex-direction: row;
    padding: 1.5em;
    justify-content: space-around;
    align-items: baseline;
    align-items: center;
    justify-content: center;

    @media (max-width: 830px) {
      flex-direction: column;
    }
  }
}
