.about {
  position: relative;
  margin-bottom: 2em;
  overflow: auto;
  padding: 0 2em;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;

  h1 {
    width: 100%;
    text-align: center;
    font-weight: 700;
    font-size: 5em;
    text-shadow: -15px 5px 20px #ced0d3;
    transform: translate(-1%, -1%);
    letter-spacing: 0.02em;
    text-align: center;
    color: #f9f1cc;
    text-shadow: 3px 3px 0px #ffb650, 6px 6px 0px #ffd662, 9px 9px 0px #ff80bf,
      12px 12px 0px #ef5097, 15px 15px 0px #6868ac, 18px 18px 0px #90b1e0;
  }

  .special-text {
    color: #ef5097;
    font-weight: 600;
  }

  .container {
    display: flex;
    flex-direction: row;
    padding: 1.5em;
    justify-content: space-around;
    align-items: baseline;
    align-items: center;
    justify-content: center;

    @media (max-width: 830px) {
      flex-direction: column;
    }
  }

 

}


